In [1]:
import seaborn as sns
df=sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
df['time']=encoder.fit_transform(df['time'])

In [6]:
df.head()

   total_bill   tip     sex smoker  day  time  size
0       16.99  1.01  Female     No  Sun     0     2
1       10.34  1.66    Male     No  Sun     0     3
2       21.01  3.50    Male     No  Sun     0     3
3       23.68  3.31    Male     No  Sun     0     2
4       24.59  3.61  Female     No  Sun     0     4

In [9]:
df['time'].value_counts()

0    176
1     68
Name: time, dtype: int64

In [26]:
from sklearn.impute import SimpleImputer ## Handling Missing Values
from sklearn.preprocessing import OneHotEncoder## handling Categorical features
from sklearn.preprocessing import StandardScaler## Feature scaling
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
## Automating the entire

In [12]:
categorial_cols=['sex','smoker','day']
numerical_cols=['total_bill','tip','size']

In [14]:
num_pipeline=Pipeline(
   steps=[
       ('imputer',SimpleImputer(strategy='median')),
       ('scaler',StandardScaler())
       
   ]
)

cat_pipeline=Pipeline(
           steps=[
               ('imputer',SimpleImputer(strategy='most_frequent')),
               ('onehotincoder',OneHotEncoder())
           ]

)

In [15]:
preprocessor=ColumnTransformer([
    ('num_pipeline',num_pipeline,numerical_cols),
    ('cat_pipeline',cat_pipeline,categorial_cols)
])

In [17]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

In [18]:
models={
    'Random Forest':RandomForestClassifier(),
    'Decision Tree':DecisionTreeClassifier(),
    'SVC':SVC()
}

In [23]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [24]:
def evaluate_model(x_train,x_test,y_train,y_test,models):
    
    report={}
    for i in range(len(models)):
        model=list(models.values())[i]
        
        model.fit(x_train,y_train)
        
        y_pred=model.predict(x_test)
        
        test_model_score=accuracy_score(y_test,y_pred)
        
        report[list(models.keys())[i]] = test_model_score
        
    return report

In [29]:
x=df.drop(['time'],axis=1)
y=df['time']

In [30]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [32]:
x_train=preprocessor.fit_transform(x_train)
x_test=preprocessor.transform(x_test)

In [34]:
evaluate_model(x_train,x_test,y_train,y_test,models)

{'Random Forest': 0.9459459459459459,
 'Decision Tree': 0.9459459459459459,
 'SVC': 0.9459459459459459}